@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'dap';
  src: url('public/fonts/dap-webfont.woff') format('woff2'),
       url('public/fonts/dap-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 



*{
    cursor: url("public/src/1xpng.png"), auto;
}
.custom-cursor:link {
  cursor: url(https://github.com/danielnaryshev/onex-portfolio-t3/blob/main/app/src/1xpng.png?raw=true), auto;
}

.custom-cursor:hover {
  cursor: url(https://github.com/danielnaryshev/onex-portfolio-t3/blob/main/app/src/1xpng.png?raw=true), auto;
}

.custom-cursor:active {
  cursor: url(https://github.com/danielnaryshev/onex-portfolio-t3/blob/main/app/src/1xpng.png?raw=true), auto;
}

.h1word{
  font-family: 'dap';
  
  width: 100%;
  height: auto;
  text-transform: capitalize;
  text-align: center;
  
}

.h2word{
  font-family: 'dap';
}

html::-webkit-scrollbar {
  display: none; /* display of the scrollbar */
}